@import "partials/icons.css";
@import "partials/recent-comments.css";
@import "partials/syntax-highlight.css";
@import "partials/wordpress.css";
@import "partials/plugins.css";
@import "partials/ads.css";

.loader-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	@apply bg-white dark:bg-black;
	z-index: 999999;
}

.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);
}

a.button:not(.prose) {
	@apply inline-flex items-center px-3 py-1 mx-1 my-1 text-sm font-medium text-white no-underline rounded shadow hover:text-white focus:outline-none;
}
.disable-button {
	@apply inline-flex items-center px-3 py-1 mx-1 my-1 text-sm font-medium text-white no-underline bg-gray-500 border border-transparent rounded shadow opacity-50 cursor-not-allowed dark:bg-gray-700 hover:text-white focus:outline-none;
}

.button-primary {
	@apply inline-flex items-center justify-center w-full px-4 py-2 text-sm font-medium text-white border border-transparent rounded shadow-md hover:bg-primary-light bg-primary sm:w-auto focus:outline-none focus:border-primary dark:focus:border-primary-light focus:ring focus:ring-primary-lightest focus:ring-opacity-50 dark:bg-primary-dark dark:hover:bg-primary dark:border-primary dark:focus:ring-primary-light dark:focus:ring-opacity-50;
}

.button-category {
	@apply inline-flex items-center justify-center px-2 py-1 mx-0.5 my-0.5 text-xs text-white focus:border-primary border rounded shadow-sm focus:ring-2 focus:ring-primary-lightest font-medium focus:ring-opacity-50 dark:focus:ring-primary-light dark:focus:ring-opacity-50 bg-primary border-transparent dark:hover:bg-primary dark:border-primary dark:bg-primary-dark hover:bg-primary-light;
}

.Fixed--active {
	overflow: hidden !important;
	-moz-user-select: none;
	user-select: none;
}

.logo {
	@apply transition duration-700 ease-in-out transform hover:rotate-90;
}

.bg-radial {
	background-image: radial-gradient(
		circle at center,
		#bfdbfe 0%,
		#3b82f6 90%,
		#1e40af 100%
	);
}
.dark .bg-radial {
	background-image: radial-gradient(
		circle at center,
		#4b5563 0%,
		#1f2937 90%,
		#111827 100%
	);
}

.text_typewriter {
	overflow: hidden;
	white-space: nowrap;
	animation: typewriter;
	display: inline-block;
	position: relative;
	animation-duration: 10s;
	animation-timing-function: steps(25, end);
	animation-iteration-count: infinite;
}
.text_typewriter::after {
	padding-left: 20px;
	content: "_";
	position: absolute;
	right: 0;

	animation: caret infinite;
	animation-duration: 1s;
	animation-timing-function: steps(1, end);
}

@keyframes typewriter {
	0%,
	100% {
		width: 0;
	}
	20%,
	80% {
		width: 11em;
	}
}
@keyframes caret {
	0%,
	100% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

#antiadblock {
	background: rgba(0, 0, 0, 0.92);
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: auto;
	z-index: 20;
	animation: animation-antiadblock 0.3s;
}

@keyframes animation-antiadblock {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.content:hover .card {
	filter: blur(1px);
	transform: scale(0.99);
	opacity: 0.9;
}
.content .card:hover {
	filter: blur(0px);
	transform: scale(1);
	opacity: 1;
}

.img-rotate {
	transition: transform 0.8s ease-in-out;
}
.snake-border-animation:hover .img-rotate {
	transform: rotate(360deg);
}

.img-grayscale {
	filter: grayscale(10%);
}
.article:hover .img-grayscale {
	filter: grayscale(0%);
}

/* snake-border-animation start */
.snake-border-animation span {
	transition: 0.5;
	opacity: 0;
}
.snake-border-animation:hover span {
	opacity: 1;
}
.snake-border-animation span:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	/* background: linear-gradient(to right, transparent, blue); */
	animation: animate1 1s linear infinite;
}
@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
.snake-border-animation span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 100%;
	/* background: linear-gradient(to bottom, transparent, blue); */
	animation: animate2 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}
.snake-border-animation span:nth-child(3) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	/* background: linear-gradient(to left, transparent, blue); */
	animation: animate3 1s linear infinite;
}
@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.snake-border-animation span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 100%;
	/* background: linear-gradient(to top, transparent, blue); */
	animation: animate4 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}
/* snake-border-animation end */

pre:not(.prose) {
	display: block;
	overflow-x: auto;
	text-align: left;
	background: #2c3e50;
	white-space: pre;
	border-radius: 6px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	max-height: 500px;
	color: #edf2f7;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	cursor: text;
	padding: 15px 20px 13px 20px;
}
.dark pre {
	@apply bg-gray-800;
}
.terminal {
	color: #edf2f7;
	/* padding: 0.5rem 1rem; */
}
.terminal .cmd {
	color: #5db907;
}
.terminal .cmd::before {
	content: "\00BB";
	margin-right: 6px;
	color: #d78930;
}
/* pre:not(.terminal) {
	padding: 1rem;
} */
pre::-webkit-scrollbar {
	display: none;
}

#progressbarBottom {
	@apply h-1 bg-primary;
	@apply dark:bg-black;
}

::selection {
	@apply bg-opacity-40 bg-primary;
}

*::-webkit-scrollbar {
	@apply w-1.5 h-1.5 bg-white;
}
*::-webkit-scrollbar-thumb {
	@apply bg-primary hover:bg-primary-dark;
}

.dark *::-webkit-scrollbar {
	@apply bg-gray-800;
}
.dark *::-webkit-scrollbar-thumb {
	@apply bg-gray-900 hover:bg-black;
}
